@import 'mixins_variáveis';

.main__form{
    display: flex;

    position: relative;
    width: 1000px;
    height: 500px;

    @include responsive(tablet){
        flex-direction: column;
        width: 500px;
        height: 1000px;
    }

    @include responsive(mobile){
        width: 300px;
        height: 600px;
    }

    .form__capa{
        display: flex;
        align-items: center;
        justify-content: center;

        position: absolute;
        z-index: 2;
        width: 500px;
        height: 500px;

        background: linear-gradient(135deg,
                    $dark-blue 25%, $light-blue 85%);
        
        @include responsive(mobile){
            width: 300px;
            height: 300px;
        }

        h1{
            font: {
                size: 100px;
                family: $fonte-title;
                weight: 400;
            }

            @include responsive(mobile){
                font-size: 75px
            }
            color: $branco;
        }
    }

    .form__sing, 
    .form__login{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 $space;
        position: relative;

        width: 500px;
        height: 500px;

        @include responsive(mobile){
            width: 300px;
            height: 300px;
        }

        label{
            margin: 30px 0 0 0;

            font: {
                family: $fonte-form;
                size: 24px;
            }
            color: $dark-grey;

            @include responsive(mobile){
                font-size: 20px;    
            }
        }

        input{
            padding: 12px 8px;

            background-color: transparent;
            border-bottom: 2px solid $light-grey;
            font: {
                family: $fonte-form;
                size: 20px;
            }

            outline: none;

            @include responsive(mobile){
                padding: 8px 6px;
                font-size: 16px;
            }
        }

        .form__password{
            width: 100%;
        }

        span{
            position: absolute;
            right: 25px;
    
            color: $dark-grey;

            z-index: 1;
            cursor: pointer;
    
            &:first-of-type{
                display: inline;
            }
    
            &:last-of-type{
                display: none;
            }
        }

        p{
            padding: 20px 0;

            text-align: end;
            color: $blue-link;
            font: {
                family: $fonte-form;
                size: 20px;
            }

            cursor: pointer;
        }

        .login__enviar,
        .sing__enviar{
            width: 120px;
            height: 40px;
            align-self: center;

            border-radius: 5px;
            font: {
                family: $fonte-form;
                size: 22px; 
            }

            cursor: pointer;
        }

        .login__enviar{
            background-color: $light-blue;
            color: $dark-blue;
        }

        .sing__enviar{
            background-color: $light-red;
            color: $branco;
        }
    }

    .sing{
        animation: translate 0.5s ease forwards;

        @include responsive(tablet){
            animation: translateResponsive 0.5s ease forwards;
        }
    }

    .visibility{
        span{
            &:first-of-type{
                display: none;
            }

            &:last-of-type{
                display: inline;
            }
        }
    }
}