// variáveis
$fonte-title: 'Fira Code', monospace;
$fonte-form:'Fira Sans', sans-serif;

// cores
$dark-blue: #1e2885;
$light-blue: #707efc;
$blue-link: #0000EE;
$dark-red: #FF0000;
$light-red: #FF4A4A;

$dark-grey: #585757;
$light-grey: #838383;

$background-main: #e4e4e4;
$background-form: #b3b1b1;

$branco: #ffffff;
$preto: #000000;

// spaces
$space: 20px;
$gap: 50px;

// mixins
@mixin responsive($responsive){
    @if $responsive == tablet{
        @media (max-width: 1070px){
            @content;
        }
    } @else if $responsive == mobile{
        @media (max-width: 600px){
            @content;
        }
    }
}